.books {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

li:last-of-type {
  border-bottom: none;
}

li span {
  font-size: 0.8rem;
  color: #666;
}

input[type="text"],
input[type="submit"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2c3e50;
}

.bookList {
  list-style: none;
  padding: 0;
}

.bookItem {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 11px;
  display: flex;
  justify-content: space-between;
}

.bookDetails {
  display: flex;
  flex-direction: column;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
}

.removeBookButton {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

.noBooksMessage {
  color: #aaa;
  text-align: center;
}
